button {
    all: unset;
}

.SwitchRoot {
    /* @apply border bg-gradient-to-r from-cyan-200 to-blue-500 rounded-full mx-6 relative; */
    width: 42px;
    height: 25px;
}

.SwitchThumb {
    /* @apply block bg-blue-400 rounded-full; */
    width: 21px;
    height: 21px;
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
}

.SwitchThumb[data-state="checked"] {
    @apply bg-white;
    transform: translateX(19px);
}
